# Environments
.venv/
.env
.python-version

# Python
__pycache__/
*.py[cod]
*$py.class

# OS-specific
.DS_Store

# Fragments / Local outputs
digest.md
digest.org
digest.org_archive
*.log

# Cursor & VS Code
.cursor/
.vscode/
.cursorignore
.cursorindexingignore